spring:
    prifiles:
      active: dev
    application:
      name: user-center-backend\
    # DataBase Config
    datasource:
      url: jdbc:mysql://localhost:3306/yupi
      username: root
      password: 123456
      driver-class-name: com.mysql.jdbc.Driver
   #session失效时间(分钟)
    session:
      timeout: 86400
      store-type: redis
    mvc:
      pathmatch:
        matching-strategy: ANT_PATH_MATCHER
  # redis配置
    redis:
      port: 6379
      host: localhost
      database: 0
server:
  port: 8080
  servlet:
    context-path: /api
  session:
    cookie:
      domain: localhost
mybatis-plus:
  configuration:
    map-underscore-to-camel-case: false
    log-impl : org.apache.ibatis.logging.stdout.StdOutImpl

  global-config:
    db-config:
      logic-delete-field: isDelete # 全局逻辑删除字段名
      logic-delete-value: 1 # 逻辑已删除值
      logic-not-delete-value: 0 # 逻辑未删除值